<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771856363796-n4ck8a6koa781tm4198cnrdv7mtvbpsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771856363796-n4ck8a6koa781tm4198cnrdv7mtvbpsc</string>
	<key>API_KEY</key>
	<string>AIzaSyBhXOSEZl9xBibTRfQupBn6YL6gUeHFbDk</string>
	<key>GCM_SENDER_ID</key>
	<string>771856363796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irwingonzales.TodoTimebox</string>
	<key>PROJECT_ID</key>
	<string>todotimebox</string>
	<key>STORAGE_BUCKET</key>
	<string>todotimebox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771856363796:ios:3c2ca83133c6f1cea65201</string>
</dict>
</plist>